*.log
*.DS_Store
.env
lazy-lock.json
~/.local/share/nvim/lazy/
docker/raspi-docker/etc-pihole/
docker/linkding/data
common/ssh/.ssh/id_ed25519
common/ssh/.ssh/id_ed25519.pub
common/ssh/.ssh/known_hosts
