[Unit]
Description=User services for Hyprland session
Requires=graphical-session.target
After=graphical-session.target

[Install]
WantedBy=hyprland-session.target
; WantedBy=default.target
