# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.
{
	log {
		output file /var/log/caddy/access.log {
			roll_local_time
		}
	}
}

# :80 {
# Set this path to your site's directory.
# root * /usr/share/caddy

# Enable the static file server.
# file_server

# Another common task is to set up a reverse proxy:
# reverse_proxy localhost:8080

# Or serve a PHP site through php-fpm:
# php_fastcgi localhost:9000
# }

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

# Garfield
# webmin-garfield.osteiner.xyz {
kuma.osteiner.xyz {
	log
	reverse_proxy localhost:3001
}

hoarder.osteiner.xyz {
	reverse_proxy localhost:3000
}

changedetection.osteiner.xyz {
	reverse_proxy localhost:5000
}

obsidian.osteiner.xyz {
	reverse_proxy localhost:5984
}
# Asus router
# openvpn.osteiner.xyz {
#         reverse_proxy 192.168.1.1:80
# }

# Raspi
home.osteiner.xyz {
	reverse_proxy 192.168.1.100:8123
}

pihole.osteiner.xyz {
	reverse_proxy 192.168.1.100:80
}

zigbee.osteiner.xyz {
	reverse_proxy 192.168.1.100:8080
}

# Snoopy (VM 101)
photos.osteiner.xyz {
	reverse_proxy 192.168.1.101:2283
}

books.osteiner.xyz {
	reverse_proxy 192.168.1.101:8083
}

books2.osteiner.xyz {
	reverse_proxy 192.168.1.101:8084
}

audiobooks.osteiner.xyz {
	reverse_proxy 192.168.1.101:13378
}

# VM 106 (jellyfin)
jellyfin.osteiner.xyz {
	reverse_proxy 192.168.1.106:8096
}

# VM 202 (openwebui)
openwebui.osteiner.xyz {
	reverse_proxy 192.168.1.202:8080
}

# VM 203 (freshrss)
rss.osteiner.xyz {
	reverse_proxy 192.168.1.203
}

# VM 204 (navidrome)
# navidrome.osteiner.xyz {
# 	reverse_proxy 192.168.1.204:4533
# }

# VM 205 (nextcloud)
cloud.osteiner.xyz {
	reverse_proxy 192.168.1.205:11000
}

# VM 206 (paperless-ngx)
paperless.osteiner.xyz {
	reverse_proxy 192.168.1.206:8000
}

# VM 208 (dawarich)
dawarich.osteiner.xyz {
	reverse_proxy 192.168.1.208:3000
}
