// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    // match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    // match app-id=r#"^org\.gnome\.World\.Secrets$"#
    match app-id=r#"^1password$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// layout {
//     background-color "transparent"
// }

// =================== FLOATING WINDOWS ===========================
window-rule {
    match app-id="1password"
    match app-id=r#"^(btrfs-assistant)$"#
    match app-id=r#"^(firewall-config|org\.fedoraproject\.FirewallConfig)$"#
    match app-id=r#"^(blueman-manager)$"#
    match app-id=r#"^(xdg-desktop-portal-gtk)$"#
    match app-id=r#"^(waypaper)$"#
    match app-id=r#"^(nm-connection-editor)$"#
    match app-id="Nsxiv"
    match app-id="com.nextcloud.desktopclient.nextcloud"
    match app-id="org.gnome.Calculator"
    match app-id="org.gnome.Nautilus"
    match app-id="org.gnome.NautilusPreviewer"
    match app-id="org.pulseaudio.pavucontrol"
    match app-id=r#"^(Solarr)$"#
    open-floating true
}

window-rule {
    match title="^Open File$"
    open-floating true
}

// =================== WINDOWS AT 100% WIDTH ===========================
// Force browsers to open at 100% width
window-rule {
    // Matches Zen Browser, Firefox, and Chrome-based browsers
    match app-id=r#"^zen$"#
    match app-id=r#"^firefox$"#
    match app-id=r#"^google-chrome$"#

    // Matches VSCode
    match app-id=r#"^code$"#
    match app-id=r#"^libreoffice-.*$"#
    // match app-id=r#"^ffpwa-01kgmnhq6y1jdj5nke91c62pbt$"# //TradingView webapp
    
    // Set the opening width to 100%
    default-column-width { proportion 1.0; }
}

// ========================= SPECIFIC WORKSPACES ===========================
workspace "widgets"
workspace "trading"
workspace "prod"
workspace "comms"
workspace "chatbots"

window-rule {
    // Widgets and utilities
    match app-id="1password"
    match app-id="blueman-manager"
    match app-id=r#"^(btrfs-assistant)$"#
    match app-id="org.gnome.Calculator"
    match app-id="org.pulseaudio.pavucontrol"

    // Force it to open on a named Workspace
    open-on-workspace "widgets"
}

window-rule {
    // TradingView Webapp
    match app-id=r#"^FFPWA-01KGMNHQ6Y1JDJ5NKE91C62PBT$"#

    // Force it to open on a named Workspace
    open-on-workspace "trading"

    // Ensure it still opens at 100% width
    default-column-width { proportion 1.0; }
}

window-rule {
    // Communication webapps (Gmail, WhatsApp, Thunderbird)
    match app-id=r#"^FFPWA-01KGN8857HH8M8FSZNZT50GBR8$"# // Gmail webapps
    match app-id=r#"^FFPWA-01KGN9349PCF304VDVY5559Q91$"# // Whatsapp webapp
    match app-id=r#"^net.thunderbird.Thunderbird$"#
    // Force it to open on a named Workspace
    open-on-workspace "comms"

    // Ensure it still opens at 100% width
    default-column-width { proportion 1.0; }
}

window-rule {
    // Productivity webapps (Calendar, Todoist)
    match app-id=r#"^FFPWA-01KGMQWVW3JRW0REPA40C3ZMBT$"# // Google Calendar webapp
    match app-id=r#"^FFPWA-01KGN8N0548J8DTHMTRAXPS9WH$"# // Todoist webapp
    // Force it to open on a named Workspace
    open-on-workspace "prod"

    // Ensure it still opens at 100% width
    default-column-width { proportion 0.5; }
}

window-rule {
    // AI Chatbots (Gemini, Claude, ChatGPT)
    match app-id=r#"^FFPWA-01KGMTR59JM64CJGETEQKEC84A$"# // Gemini webapps
    match app-id=r#"^FFPWA-01KGQ4NG2EEBAD5WT2EDB2JYF2$"# // Claude webapps
    match app-id=r#"^FFPWA-01KGN9AAKHSYHRKNGC1AP55SV5$"# // ChatGPT webapps

    // Force it to open on a named Workspace
    open-on-workspace "chatbots"
}


// Focuses the first empty dynamic workspace after named ones
spawn-sh-at-startup "sleep 1; niri msg action focus-workspace 6"
